body {
	margin: 0 auto; 
	max-width: 1400px;
	font-family: Roboto, sans-serif;
}
.main {
	width: 100%;
	margin: 0 auto;
	@include centered-flex;
	flex-direction: column;
}
/*LOCATION SECTION*/
.location {
	width: 100%;
	height: 50px;
	@include centered-flex;
	background-color: map-get($map: $bg-color, $key: location);
	font-weight: 500;
	font-size: 16px;
	&__address {
		margin-left: 12px;
	}
}

/*ABOUT SECTION*/
.about {
	width: 100%;
	padding: 15px;
	background-color: map-get($map: $bg-color, $key: menu);
	@include centered-flex;
	flex-direction: column;
	&__title {
		text-align: center;
		margin: 15px 45px;
	}
	&__text {
		font-weight: 300;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		margin-bottom: 10px;
	}
	&__btn {
		margin: 20px 0 40px;
	}
}
// common to all titles of the home page:
.title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

/*HELP SECTION*/
.help {
	padding: 45px 0;
	@include centered-flex;
	flex-direction: column;
	&__title {
		display: inline-flex;
		align-self: flex-start;
	}
	&__steps {
		padding-left: 20px;
	}
	&__step {
		width: 300px;
		height: 70px;
		font-weight: 500;
		font-size: 16px;
		@include centered-flex;
		background-color: map-get($map: $bg-color, $key: menu);
		border-radius: 25px;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
		margin: 25px 0;
		position: relative;
		&:hover {
			@include btn-hover;
			background-color: rgba(147, 86, 220, 0.1);
		}
	}

	&__num {
		background-color: $clr-primary;
		width: 24px;
		height: 24px;
		color: #fff;
		@include centered-flex;
		font-size: 14px;
		font-weight: 400;
		border-radius: 50%;
		position: absolute;
		left: -10px;
	}
	&__icon {
		margin-right: 25px;
		scale: 1.1;
		color: $bgclr-grey4;
	}
}

/*RESTAURANTS SECTION*/
.restaurants {
	background-color: map-get($map: $bg-color, $key: menu);
	padding: 50px 0;
	&__title {
		padding-left: 20px
	}
	&__container {
		@include centered-flex;
		flex-direction: column;
		padding: 10px 20px;
	}
}

.rest-card {
	width: 335px;
	height: 250px;
	background-color: #fff;
	border-radius: 20px;
	margin: 10px 0;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	&__view {
		height: 170px;
		width: 100%;
		position: relative;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px 20px 0 0;
	}
	&__new {
		background-color: $clr-tertiary;
		width: 80px;
		height: 28px;
		color: #008766;
		font-weight: 500;
		font-size: 14px;
		@include centered-flex;
		position: absolute;
		right: 15px;
		top: 15px;
		border-radius: 3px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		margin: 16px 20px 10px 12px;
		color: black;
	}
	&__label {
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 5px;
	}

	&__address {
		font-weight: 300;
		font-size: 16px;
	}

	&__heart {
		align-self: center;
	}
}
