.footer {
	width: 100%;
	background-color: map-get($map: $bg-color, $key: footer);
	padding: 22px  0 25px 30px;
	@include desktop {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		padding-right: 80px;
	}
	a {
		color: #fff;
		font-size: 16px;
	}
		
	&__logo {
		font-family: 'Shrikhand', cursive;
		margin-bottom: 15px;
		@include desktop {
			margin-bottom: 0;
		}
		a {
			font-size: 22px;
		}

	}

	&__menu {}

	&__list {
		@include desktop {
			display: flex;
			align-items: center;
		}
	}

	&__link {
		margin: 7px 0;
		@include desktop {
			margin:0 33px 0 0;
					}
	}
}

.fa-utensils {
	font-size: 13px;
	margin-right: 13px;
}

.fa-handshake-angle {
	font-size: 13px;
	margin-right: 8px;
}