/*styles for main rose gradient button*/
.button {
	width: 220px;
	height: 50px;
	@include centered-flex;
	@include btn;
	&:hover {
		opacity: 0.8;
		@include btn-hover;
	}
}

/*styles for heart*/
.rest-card__heart, .rest__heart {
	i {
		color: black;
		cursor: pointer;
		transition: all ease-out 500ms;
	}
	i:hover {
		background: $gradient;
		color: white;
		font-weight: 600;
		transform: scale(1.25);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: all ease-in 400ms;
	}
}